/**
 * @author liuyuan
 * @date 2022-07-30 20:28
 * @since 0.0.0
 */

.line {
    height: 1px;
    background-image: linear-gradient(to right, transparent, #d5d5d5, transparent);
}

.linkList {
    padding-top: 5px;
}

.link {
    color: #fff;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
        color: #3678e5;
    }
}
