/**
 * @author liuyuan
 * @date 2022-07-30 20:28
 * @since 0.0.0
 */

.hr {
    height: 1px;
    max-width: 400px;
    margin-top: -1px;
    border: none;
    background-image: linear-gradient(0deg, transparent, #d5d5d5, transparent);
}

.link {
    cursor: pointer;
    transition: all 0.1s;
    color: #fff;

    &:hover {
        color: #3678e5;
    }
}
